<section>
  <h2> Welcome </h2>
  <p>It's been awhile.</p>
  <p>Read any new books lately</p>  
</section>
<section>
  <button>No</button>
  <button>Yes</button>
</section>

<section>
  <form ng-submit="entry.submitBook()">
    <label for="book-title">Title</label>
    <input id="book-title" placeholder="Title" ng-model="entry.newBook.title" />
    <label for="book-author">Author</label>
    <input id="book-author" placeholder="Author" ng-model="entry.newBook.author" />
    <label for="book-imageUrl">Image Url</label>
    <input id="book-imageUrl" placeholder="Url" ng-model="entry.newBook.imageUrl" />
    <button>Submit</button>
  </form>
</section>
