<main class="mainHeader">
  <section class="sectionHeader">
    <section class="titleContainer">
      <a href="javascript:void(0)"><i ng-if="!nav.showNav" class="fa fa-bars navIcon" ng-click="nav.showNav=true"></i></a>
      <a href="javascript:void(0)"><i ng-if="nav.showNav" class="fa fa-times closeIcon" ng-click="nav.showNav=false"></i></a>
      <a href="/bc-fe-test"><h1 class="title">My books</h1></a>
    </section>
  </section>
</main>
<nav ng-class="{'showNav': nav.showNav}" class="navBar">
  <ul class="navList">
    <li class="navItem" ng-repeat="book in nav.getBooks()">
      <h3 class="navTitle">{{ book.title }}</h3>
    </li>
  </ul>
</nav>
