/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f5f5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
input { 
  outline: none;
}
button:focus {
  outline: 0;
  box-shadow: none;
}
/* HEADER */

.mainHeader, .sectionHeader {
  background-color: #fc2352;
  height: 3em;
  width: 100%;
  box-shadow: 2px 2px 4px #ccc;
}

.sectionHeader {
  display: table;
  position: fixed;
}

.titleContainer {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
}

.title, .navIcon, .closeIcon {
  display: inline-block;
  font-size: 1.25em;
}

.navIcon, .closeIcon {
  width: 10%;
}

.title {
  color: white;
}

/* NAV BAR */

.navBar {
  background-color: 
  width: 100%;
}

.navList {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.navItem {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  display: table;
  height: 3em;
  width: 100%;
}

.navTitle {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
}

/* BOOK-ENTRY */

/* BOOK-ENTRY WELCOME */

.welcome {
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
  margin: 2%;
}

.welcomeHeader {
  padding: 1.5em;
  width: 100%;
  box-sizing: border-box;
}

.welcomeTitle {
  color: #fc2352;
  font-size: 1.5em;
  padding-bottom: 1.25em;
}

.welcomeParagraph {
  font-size: 1em;
  padding-bottom: .5em;
}

.welcomeButtons {
  border-top: 2px solid #eee;
  box-sizing: border-box;
  padding:1em;
  width: 100%;
}

.welcomeButton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.yellow {
  color: #ffae42;
}

/* BOOK-ENTRY FORM */

.book-entry {
  padding: 1.5em;
  width: 100%;
  box-sizing: border-box;
}

.entryLabel {
  display: none;
}

.entryInput {
  font-size: 1.25em;
  width: 100%;
  margin: .25em;
  border: none;
  border-bottom: 2px solid #ccc;
}

.entryButton {
  font-size: 1em;
  background-color: #ffae42;
  color: white;
  padding: .25em;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
}

/* BOOK LIST */
.bookList {
  margin: 2%;
}

.bookItem {
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
  height: 9em;
  margin-bottom: .5em;
  position: relative;
}

.bookImage {
  height: 100%;
  width: 25%;
}

.bookOuter {
  display: inline-block;
  height: 100%;
  position: absolute;
  top:0;
  width: 75%;
}

.bookDes {
  height: 70%;
  padding-left: 1.5em;
  position: relative;
}

.bookTitle {
  font-size: 2em;
  margin-top: -1em;
  position: absolute;
  top: 50%;
}

.bookAuthor {
  color: #ccc;
  font-size: 1em;
  margin-top: 1em;
  position: absolute;
  top: 50%;
}

.bookReview {
  border-top: 1px solid #ccc;
  height: 30%;
  padding-left: 1.5em;
  position: relative;
}

.review {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: -.5em;
  position: absolute; 
  top: 50%;
}
