/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f5f5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* HEADER */

.mainHeader, .sectionHeader {
  background-color: #fc2352;
  height: 2.5em;
  width: 100%;
}

.sectionHeader {
  display: table;
  position: fixed;
}

.titleContainer {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
}

.title, .navIcon, .closeIcon {
  display: inline-block;
  font-size: 1.25em;
}

.navIcon, .closeIcon {
  width: 10%;
}

.title {
  color: white;
}

/* NAV BAR */

.navBar {
  background-color: 
  width: 100%;
}

.navList {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 100%;

}

.navItem {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  display: table;
  height: 2.75em;
  width: 100%;
}

.navTitle {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
}

/* BOOK-ENTRY */

.welcome {
  margin: 2%;
  border: 2px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 1px #888;
}

.welcomeHeader {
  width: 100%;
  padding: 1em;
}

.welcomeTitle {
  color: hotpink;
  font-size: 1.5em;
  padding-bottom: .75em;
}

.welcomeParagraph {
  font-size: 1em;
  padding-bottom: .5em;
}

.welcomeButtons {
  width: 100%;
  padding:1em;
  border-top: 2px solid #eee;
}

.welcomeButton {
  border: none;
  font-size: 1em;
  background-color: white;
  cursor: pointer;
}

.yellow {
  color: #ffae42;
}
